body {
    margin: 0;
    background-color: black;
}

#hamburger-menu {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #1d2830;
}

ul li {
    float: left;
    background-color: #1d2830;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

span {
    border: 1px solid green;
    border-radius: 5px;
    padding: 9px;
    color: green;
}

span:hover {
    background-color: green;
    color: white;
}

input[type="text"] {
    padding: 10px 12px;
    margin-top: 4px;
    border-radius: 5px;
}

/* #282A35 */
select {
    background-color: #1d2830;
    display: inline-block;
    color: white;
    text-align: left;
    padding: 14px 16px;
}


/* mobile */
@media (max-width: 768px) {
    #hamburger-menu {
        display: inline-block;
        background-color: white;
    }

    li a:not(#navbar-text),
    li select,
    li input {
        display: none;
    }
}